/*Styles for ssgplugin*/

/*------------ Forside -----------------*/
.ssg_sec {
  max-height: 1000px;
}

.countdown_sec {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  text-align: center;
  max-width: 600px;
}

.countdown_sec h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

/* ----- Countdown Timer til forsiden ----- */

#pluginhead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
}

.countdown_container h2,
.countdown_container span {
  display: block;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 0.2em;
}

.countdown {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.countdown div {
  position: relative;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #999999;
  color: #ffffff;
  margin: 0 30px;
  font-size: 4em;
  font-weight: 500;
  border-radius: 15px;
}

.countdown div:before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 35px;
  color: #333;

  line-height: 35px;
  font-weight: 300;
}

.countdown #day:before {
  content: "Days";
  font-size: 20px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
}

.countdown #hour:before {
  content: "Hours";
  font-size: 20px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
}

.countdown #minute:before {
  content: "Minutter";
}

.countdown #second:before {
  content: "Sekunder";
}
