/*Styles for ssgplugin*/

/*body {
  background-color: aquamarine;
}

#mysection {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}*/

/*------------ Forside -----------------*/
.festival_teaser_sec {
  overflow: hidden;
  max-height: 1000px;
}

.countdown_sec {
  position: relative;
  top: 0;
  left: 50%;
  z-index: 1;
  text-align: center;
  max-width: 600px;
}

.countdown_sec h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

/* ----- Countdown Timer til forsiden ----- */

.countdown_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 50;
}

.countdown_container h2,
.countdown_container span {
  display: block;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 0.2em;
}

.countdown {
  display: flex;
  margin-top: 50px;
}

.countdown div {
  position: relative;
  width: 125px;
  height: 200px;
  padding-top: 50px;
  text-align: center;
  background: #5e5047;
  color: #fff;
  margin: 0 30px;
  font-size: 4em;
  font-weight: 500;
  border-radius: 15px;
}

.countdown div:before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 35px;
  color: #333;

  line-height: 35px;
  font-weight: 300;
}

.countdown #day:before {
  content: "Dage";
}

.countdown #hour:before {
  content: "Timer";
}

.countdown #minute:before {
  content: "Minutter";
}

.countdown #second:before {
  content: "Sekunder";
}

#festival_teaser {
  position: relative;
  top: 150px;
  z-index: 1;
  left: 100px;
  font-size: 25px;
}

#con_1 {
  position: relative;
  z-index: -1;
  top: -500px;
  left: -15%;
  width: 50%;
}

#con_2 {
  position: relative;
  z-index: -1;
  top: -400px;
  right: -50%;
  width: 70%;
}
